body {
  margin: 0;
  font: 13px helvetica,sans-serif;
  line-height: 1.4em;
  background-color:#fff;
  padding:0px;

}
ul {
  list-style: none;
  margin:0;
  padding:0;
}

.octodex {
/* content overflow-hidden */
  width:;
  margin-left:20px;
  margin-right: 20px;
  margin-bottom: 26px;
  margin-top: 20px;
  padding:0;
}
.octocat {
/* item-shell */
  float:left;
  position: relative;
  width: 448px;
}

li.octocat {
  width: 32%;
}

octocat > a img{
  border: 1px solid #cacaca;
}
/*octocat > a > img {
  width: 424px;
}*/

.octocat .image-footer:before{
/* triangle */
}
.image-footer {
/* */
  font-size:16px;
  color:#333;
}   
.image-number {
/* span */
  color: #cacaca;
}
.image-footer .image-caption {
/* */
}
.authors {

}

.octocat .image-footer{

}
  font-size: 16px;
  color: #777;
  text-align: right;
  padding: 12px 0 12px 0;
  margin: 0 12px 22px;
  border-bottom: 1px solid #cacaca;
  position: relative;
}
.image-footer {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  border: 1px solid black;
}
.image-footer::after {
  display:block;
  content: "";
  clear: both;
}

.image-footer p {
  display: inline-block;
}

.image-number {
  color: #cacaca;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid gray;
}
  
.image-caption {
  border: 5px solid red;
  color: #777;
  float:right;
  position: relative;
}

.image-caption a {
  border: 1px solid blue;
  display: inline-block;
}
  
span {

}

.authors {
  display: inline-block;
  text-align: right;
}
 
li {
  list-style: none;

}
 
.authors img{
  display: inline-block;
  height: 28px;
  width: 28px;
}
 
.snapchat {
  color: blue;
  font-size: 50px;
}